footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .container-footer-brand{
    display: flex;
    flex-direction: column;
    @media screen and (max-width:767.7px){
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .container-logo-title{
      display: flex;
      gap: 12rem;

      @media screen and (max-width:767.7px){
        align-items: center;
      }
      .container-logo{
        width: 50rem;
        height: 50rem;
        svg{
          width: 100%;
          height: 100%;
        }
      }
      .container-title{
        font-size: var(--text-size-lxx);
        font-weight: 800;
        color: var(--custom-white);
        line-height: 1.5;
      }
    }
    .container-mail{
      a{
        font-weight: 400;
        font-size: var(--text-size-xs);
        color: var(--custom-gray-500);
      }
    }
  }

  .container-nav-footer{
    @media screen and (max-width:767.7px){
      display: none;
    }
    .list-header{
      display: flex;
      gap: 16rem;

      .list-header--item{
        font-size: var(--text-size-sx);
        color: var(--custom-gray-500);
        font-weight: 500;
        transition: all .2ms;
        &:hover{
          color: var(--custom-blue-500);
          cursor: pointer;
        }
      }
    }
  }
}
