@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400&display=swap');
@import 'header.css';
@import 'footer.css';

@mixin button ( $p-tb, $p-lr, $color, $font-size, $font-weight, $border-radius, $border-size, $border-color, $bg){
  padding: $p-tb $p-lr;
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  border-radius: $border-radius;
  border: $border-size solid $border-color;
  background: $bg;
}

:root {
  --text-size-sxx: var(--text-sxx);
  --text-size-sx: var(--text-sx);
  --text-size-s: var(--text-s);
  --text-size-xs: var(--text-xs);
  --text-size-xxs: var(--text-xxs);
  --text-size-mx: var(--text-mx);
  --text-size-m: var(--text-m);
  --text-size-xm: var(--text-xm);
  --text-size-lxx: var(--text-lxx);
  --text-size-lx: var(--text-lx);
  --text-size-l: var(--text-l);
  --text-size-xl: var(--text-xl);
  --text-size-xxl: var(--text-xxl);

  @media screen and (max-width:767.7px) {
    --text-size-sxx: var(--text-mobile-sxx);
    --text-size-sx: var(--text-mobile-sx);
    --text-size-s: var(--text-mobile-s);
    --text-size-xs: var(--text-mobile-xs);
    --text-size-xxs: var(--text-mobile-xxs);
    --text-size-mx: var(--text-mobile-mx);
    --text-size-m: var(--text-mobile-m);
    --text-size-xm: var(--text-mobile-xm);
    --text-size-lxx: var(--text-mobile-lxx);
    --text-size-lx: var(--text-mobile-lx);
    --text-size-l: var(--text-mobile-l);
    --text-size-xl: var(--text-mobile-xl);
    --text-size-xxl: var(--text-mobile-xxl);
  }

  --custom-black: #000000;
  --custom-white: #ffffff;
  --custom-gray-300: #B4B1B1;
  --custom-gray-400: #919191;
  --custom-gray-500: #707070;
  --custom-gray-600: #131313;
  --custom-gray-700: #2D2D2D;
  --custom-gray-800: #0e0e0e;
  --custom-gray-900: #0D0D0D;
  --custom-blue-300: #4681E7;
  --custom-blue-400: #3D82F2;
  --custom-blue-500: #3C82F4;
  --custom-blue-600: #326CF9;
  --custom-green-500: #0FC65C;
  --custom-green-500-24: #145818;
  --custom-gradient: linear-gradient(90deg, #FE6783 1.9%, #FFBF84 97.1%);

  --border-radius: 20rem;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul, li, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  border: none;
  position: unset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.2;
}
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  content: none;
}
h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
  content: none;
}

html{
  --text-sxx: 16rem;
  --text-sx: 20rem;
  --text-s: 22rem;
  --text-xs: 25rem;
  --text-xxs: 28rem;
  --text-mx: 30rem;
  --text-m: 35rem;
  --text-xm: 38rem;
  --text-lxx: 42rem;
  --text-lx: 50rem;
  --text-l: 62rem;
  --text-xl: 75rem;
  --text-xxl: 100rem;

  --text-mobile-sxx: 8px;
  --text-mobile-sx: 10px;
  --text-mobile-s: 11px;
  --text-mobile-xs: 13px;
  --text-mobile-xxs: 14px;
  --text-mobile-mx: 15px;
  --text-mobile-m: 17px;
  --text-mobile-xm: 19px;
  --text-mobile-lxx: 21px;
  --text-mobile-lx: 25px;
  --text-mobile-l: 31px;
  --text-mobile-xl: 32px;
  --text-mobile-xxl: 50px;

  font-size: 0.05208333333333333333333333333333vw;
  @media screen and (max-width:767.7px){
    font-size: 1px;
  }
  overflow-x: hidden;
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: var(--custom-black);
  color: var(--custom-white)
}

.container-layout{
  padding: 49rem 140rem;
  overflow: hidden;
  @media screen and (max-width:767.7px) {
    padding: 49rem 40rem;
  }
}

main {
  padding-top: 128rem;
  h1{
    font-size: var(--text-size-xxl);
    font-weight: 700;
    line-height: 110%;
    text-align: center;
  }
  h2{
    font-size: var(--text-size-xxl);
    font-weight: 700;
    line-height: 1;
    text-align: center;
    background-image: var(--custom-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 136rem;
  }
  .container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 188rem;

    @media screen and (max-width:767.7px){
      margin-bottom: 70rem;
    }
    h3{
      font-size: var(--text-size-xl);
      color: var(--custom-white);
      font-weight: 600;
      margin-bottom: 64rem;
      text-align: center;
      line-height: 1.5;
      &.title-step-text{
        margin-bottom: 0;
      }
      &.title{
        font-size: var(--text-size-xxl);
        line-height: 1.5;
        margin-bottom: 0;
      }
    }
    h4{
      font-size: var(--text-size-xm);
      font-weight: 500;
      color: var(--custom-white);
      line-height: 1.5;
      text-align: center;
      margin-bottom: 50rem;
    }
    .container-logo{
      width: 164rem;
      height: 151rem;
      margin-bottom: 23rem;
      svg{
        width: 100%;
        height: 100%;
      }
    }
    .container-button{
      gap: 13rem;
      margin-bottom: 21rem;
      .primary-button{
        @include button( 24rem, 74rem, var(--custom-white), var(--text-size-sx), 500, var(--border-radius), 0, none, var(--custom-blue-600))
      }
      .default-button{
        @include button( 24rem, 90rem, var(--custom-gray-500), var(--text-size-sx), 500, var(--border-radius), 2rem, var(--custom-gray-500), transparent)
      }

      @media screen and (max-width:767.7px){
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .container-counters{
      .counters-item{
        strong{
          font-weight: 500;
          color: var(--custom-white);
        }
        font-size: var(--text-size-xs);
        font-weight: 400;
        color: var(--custom-gray-500);
        position: relative;

        &:before{
          content: '';
          position: absolute;
          left: -38rem;
          top: 4.5rem;
          width: calc(28rem - 6.5rem);
          height: calc(28rem - 6.5rem);
          border-radius: 50%;
          background: var(--custom-green-500);
          border: 6.5rem solid var(--custom-green-500-24);

          @media screen and (max-width:767.7px){
            top: -3.5rem;
            width: 10.5rem;
            height: 10.5rem;
          }
        }
      }
    }
    .container-features{
      display: flex;
      justify-content: space-between;
      gap: 53.5rem;
      width: 100%;
      max-width: 1483rem;

      @media screen and (max-width:767.7px){
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
      }

      .container-features-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        width: 33.3%;
        @media screen and (max-width:767.7px){
          width: 100%;
        }

        .features-items-header{
          display: flex;
          align-items: center;
          gap: 4rem;

          .feature-items-icon{
            width: 37rem;
            height: 37rem;
            svg{
              width: 100%;
              height: 100%;
            }
          }
          p{
            font-size: var(--text-size-m);
            font-weight: 600;
            color: var(--custom-white);

          }
        }

        .features-items-text{
          p{
            color: var(--custom-gray-500);
            font-size: var(--text-size-s);
            font-weight: 400;
          }
        }
      }
    }
    .text-content{
      font-size: var(--text-size-m);
      font-weight: 400;
      color: var(--custom-gray-500);
      line-height: 1.5;
      text-align: center;
      margin-bottom: 34rem;
    }
    .subtitle-item-text{
      color: var(--custom-blue-400);
      font-size: var(--text-size-sx);
      text-transform: uppercase;
      font-weight: 600;
    }
    .button-step{
      @include button(24rem, 38rem, var(--custom-gray-500), var(--text-size-sx), 600, var(--border-radius), 2rem, var(--custom-gray-500), transparent)
    }
    .container-img-preview{
      margin-top: 52rem;
      margin-bottom: 188rem;
      width: 100%;
      @media screen and (max-width:767.7px){
        margin-bottom: 50rem;
      }
      img{
        width:100%;
        height: 441rem;
        @media screen and (max-width:767.7px) {
          height: 150rem;
        }
      }
    }
  }
  .container-avatar{
    width: 100vw;
    height: 800rem;
    transform: translateX(-140rem);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../assets/Image-5.png");
    background-size: cover;
    @media screen and (max-width:767.7px){
      height: 300rem;
      transform: translateX(-40rem);
    }
  }
  aside{
    width: 100vw;
    display: flex;
    height: fit-content;
    @media screen and (max-width:767.7px){
      width: 100%;
      margin-bottom: 50rem;
    }
    .info-text-content{
      width: 50%;

      @media screen and (max-width:767.7px){
        width: 100%;
      }
      .subTitle{
        font-weight: 500;
        color: var(--custom-white);
        font-size: var(--text-size-mx);
        margin-bottom: 80rem;
      }
      .aside-container-title{
        margin-bottom: 29rem;
        p{
          font-weight: 600;
          font-size: var(--text-size-xl);
          color: var(--custom-white);
          line-height: 1.4;
          span{
            color: var(--custom-blue-500)
          }
        }
      }
      .option-list{
        margin-bottom: 66rem;
        li{
          &:first-child{
            font-size: var(--text-size-s);
            font-weight:400;
            color: var(--custom-white);
            margin-left: 45rem;
            position: relative;
            margin-bottom: 13rem;
            &:before{
              position: absolute;
              content:'1';
              width: 33rem;
              height: 33rem;
              left: -45rem;
              background: var(--custom-gray-700);
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          &:last-child{
            font-size: var(--text-size-s);
            font-weight:400;
            color: var(--custom-white);
            margin-left: 45rem;
            position: relative;
            &:before{
              position: absolute;
              content:'2';
              width: 33rem;
              height: 33rem;
              left: -45rem;
              background: var(--custom-gray-700);
              border-radius: 50%;
              text-align: center;
            }
          }
        }
      }
      .container-button{
        gap: 12rem;
        justify-content: center;
        .primary-button{
          @include button(17rem, 21rem, var(--custom-white), var(--text-size-sx), 500, var(--border-radius), 0, none, var(--custom-blue-600));
        }
        .default-button{
          @include button(17rem, 36rem, var(--custom-gray-500), var(--text-size-sx), 500, var(--border-radius), 2rem, var(--custom-gray-500), var(--custom-gray-800))
        }
      }
    }
    .container-img{
      width: 50%;
      height: fit-content;

      @media screen and (max-width:767.7px){
        display: none;
      }
      img{
        width: 100%;
        height: 715rem;
      }
    }
  }
  .container-info-step2{
    display: flex;
    flex-wrap: wrap;
    gap: 11.5rem;
    width: 100%;
    margin-bottom: 189rem;
    justify-content: center;
    @media screen and (max-width:767.7px){
      margin-bottom: 50rem;
    }
    section{
      width: calc(50% - 11.5rem);
      height: 666rem;
      display: flex;
      flex-direction: column;
      padding: 33rem 0 0 50rem;
      background: var(--custom-gray-900);
      overflow: hidden;
      @media screen and (max-width:767.7px) {
        width: 100%;
        padding: 15rem 0 0 15rem;
        height: fit-content;
      }
      span{
        font-size: var(--text-size-m);
        line-height: 1.5;
        color: var(--custom-green-500);
        font-weight: 400;
        margin-bottom: 24rem;
      }
      p{
        color: var(--custom-gray-400);
        font-size: var(--text-size-xl);
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 24rem;
        span{
          color: var(--custom-white);
          font-size: var(--text-size-xl);
          font-weight: 600;
          line-height: 1.2;
          margin-bottom: 0;
        }
      }
      div{
        overflow: hidden;
        @media screen and (max-width:767.7px){
          display: none;
        }
        .section-image-phone{
          width: 787rem;
          height: 338rem;
          transform: translateX(80rem) translateY(20rem);
        }
      }
    }
    .container-button{
      margin-top: 49rem;
      justify-content: center;
      .primary-button{
        @include button(22rem, 85rem, var(--custom-white), var(--text-size-sx), 500, var(--border-radius), 0, none, var(--custom-blue-500))
      }
    }
  }

}

.container-button{
  display: flex;
  gap: 12rem;
}

.default-button{
  @include button(12rem, 20rem, var(--custom-gray-500), var(--text-size-sx), 500, 0, 0, none, transparent);
  transition: .2ms;
  &:hover{
    color: var(--custom-blue-500);
    cursor: pointer;
  }
}

.primary-button{
  @include button(12rem, 20rem, var(--custom-white), var(--text-size-sx), 500, var(--border-radius), 0, none, var(--custom-blue-300));
  &:hover{
    cursor: pointer;
  }
}

.login, .signup{
  display: flex;
  flex-direction: column;
  margin-top: 79rem;
  align-items: center;
  text-align: center;
  padding-top: 0;
  h1{
    font-size: var(--text-size-xl);
    font-weight: 600;
    color: var(--custom-white);
    line-height: 1.5;
  }
  .subtitle{
    font-size: var(--text-size-xs);
    font-weight: 400;
    color: var(--custom-white);
    line-height: 1.5;
    margin-bottom: 46rem;
  }
  h2{
    font-size: var(--text-size-lx);
    font-weight: 600;
    color: var(--custom-white);
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31.5rem;
    margin-bottom: 67rem;
    .item-form{
      display: flex;
      gap: 77rem;
      align-items: baseline;
      @media screen and (max-width:767.7px){
        flex-direction: column;
        gap: 15rem;
      }
      input{
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1rem solid var(--custom-white);
        padding: 15rem 37.5rem 15rem 0;
        width: 487rem;
        height: 46rem;
        color: var(--custom-white);
        @media screen and (max-width:767.7px){
          width: 80vw;
        }
        &::placeholder{
          font-size: var(--text-size-s);
          color: var(--custom-gray-400);
          font-weight: 400;
        }
      }
      label{
        position: relative;
        height: 46rem;
        .form-icon-container{
          position: absolute;
          right: 0;
          top: 11.5rem;
          width: 25rem;
          height: 25rem;
          svg{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    button{
      margin-top: 30rem;
      width: 487rem;
      @include button( 22.5rem, 0, var(--custom-white), var(--text-size-xs), 400, var(--border-radius), 0, none, var(--custom-blue-600));
      &:hover{
        cursor: pointer;
      }
      @media screen and (max-width:767.7px){
        width: 80vw;
      }
    }
  }
  .container-social-authorize{
    display: flex;
    justify-content: space-between;
    gap: 39rem;
    .item-authorize{
      width: 475rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10rem;
      @include button(21.5rem, 0, var(--custom-white), var(--text-size-xs), 400, var(--border-radius), 1rem, var(--custom-white), transparent);
      .container-logo-corp{
        width: 34rem;
        height: 34rem;
        svg{
          width: 100%;
          height: 100%;
        }
      }
      @media screen and (max-width:767.7px){
        width: 20vw;
        span{
          display: none;
        }
      }

    }
  }
  .text-content{
    margin-top: 69rem;
    font-size: var(--text-size-sxx);
    font-weight: 400;
    color: var(--custom-white);
    a{
      color: var(--custom-blue-500);
    }
  }
}

.pricing{
  width: 100%;
  padding-top: 0;

  h1{
    font-size: var(--text-size-lx);
    font-weight: 600;
    color: var(--custom-white);
    margin: 126rem 0 123rem;
    @media screen and (max-width:767.7px){
      margin: 25rem 0;
    }
  }
  .container-pricing{
    width: 100%;
    display: flex;
    gap: 38rem;
    justify-content: space-between;
    margin-bottom: 189rem;
    @media screen and (max-width:767.7px){
      margin-bottom: 50rem;
      flex-direction: column;
      justify-content: center;
    }
  }
  .item-pricing{
    border-radius: var(--border-radius);
    border: 1rem solid var(--custom-gray-500);
    padding: 38rem 34rem 36rem 39rem;
    background: var(--custom-gray-600);
    @media screen and (max-width:767.7px){
      padding: 19rem 17rem 18rem 19rem;
    }
    header{
      display: flex;
      flex-direction: column;
      align-items: start;
      h2{
        font-size: var(--text-size-lx);
        font-weight: 600;
        color: var(--custom-white);
        line-height: 1.5;
        margin-bottom: 1rem;
      }
      p{
        font-size: var(--text-size-xxs);
        line-height: 1.5;
        color: var(--custom-gray-300);
        font-weight: 400;
      }
    }
    main{
      margin-top: 14rem;
      padding: 0;
      display: block;
      div{
        margin-bottom: 67rem;
        @media screen and (max-width:767.7px){
          margin-bottom: 15rem;
        }
        h3{
          font-weight: 700;
          font-size: var(--text-size-xl);
          color: var(--custom-white);
          line-height: 1.5;
          span{
            text-decoration: none;
          }
        }
        span{
          color: var(--custom-gray-300);
          font-weight: 400;
          font-size: var(--text-size-xxs);
          text-decoration: underline;
        }
      }
      h4{
        color: var(--custom-white);
        font-weight: 700;
        font-size: var(--text-size-xxs);
        line-height: 40rem;
        margin-bottom: 9rem;
      }
      p{
        color: var(--custom-white);
        font-weight: 400;
        font-size: var(--text-size-xxs);
        line-height: 40rem;
        margin-bottom: 45rem;
      }
      .pricing-text-content{
        color: var(--custom-gray-300);
        font-weight: 400;
        font-size: var(--text-size-s);
        margin-bottom: 53rem;
        display: block;
        @media screen and (max-width: 767.7px){
          margin-bottom: 25rem;
        }
      }
      ul{
        margin-top: 18rem;
        display: flex;
        flex-direction: column;
        gap: 10rem;
        li{
          color: var(--custom-white);
          font-weight: 400;
          font-size: var(--text-size-s);
          line-height: 36rem;
          margin-left: 34rem;
          padding-left: 10rem;
          position: relative;
          &:before{
            position: absolute;
            content: '';
            background: url(../assets/Shape-7.png);
            left: -34rem;
            top: 10rem;
            width: 20rem;
            height: 20rem;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
    footer{
      width: 100%;
      margin-top: 80rem;
      @media screen and (max-width:767.7px){
        margin-top: 25rem;
      }
      a{
        width: 100%;
        text-align: center;
        @include button(30rem, 0, var(--custom-white), var(--text-size-xs), 500, var(--border-radius), 1rem, var(--custom-white), transparent)
      }
    }
    &.active{
      background: var(--custom-blue-500);
      p, span{
        color: var(--custom-white);
      }
      main{
        span{
          text-decoration: none;
        }
      }
      footer{
        a{
          background: var(--custom-white);
          color: var(--custom-blue-500);
        }
      }
    }
  }
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width:767.7px){
    padding-top: 25rem;
  }

  .container-logo{
    margin-bottom: 48rem;
    .container-logo-svg{
      width: 75rem;
      height: 70rem;
    }
    .container-brand{
      p{
        font-size: var(--text-size-l);
        font-weight: 800;
      }
    }
  }
  .subtitle{
    text-transform: uppercase;
    font-size: var(--text-size-xs);
    font-weight: 600;
    color: var(--custom-blue-600);
  }
  h1{
    font-size: var(--text-size-xl);
    line-height: 1.5;
    color: var(--custom-white);
  }
  h2{
    font-size: var(--text-size-l);
    line-height: 1.5;
    color: var(--custom-white);
    margin-bottom: 59rem;
  }
  .caption {
    font-size: var(--text-size-m);
    font-weight: 400;
    color: var(--custom-white);
    line-height: 1.5;
    margin-bottom: 186rem;
    text-align: center;
    @media screen and (max-width:767.7px){
      margin-bottom: 50rem;
    }
  }
  .container-text-content{
    width: 1252rem;
    margin: auto;
    padding: 0 87rem;
    border-bottom: 1px solid var(--custom-gray-500);
    margin-bottom: 188rem;
    @media screen and (max-width:767.7px){
      width: 80vw;
      margin:0 auto 50rem;
      padding: 0 5rem;
    }
  }
  .text-content{
    font-size: var(--text-size-xxs);
    font-weight: 400;
    color: var(--custom-white);
    margin-bottom: 35rem;
    line-height: 1.5;
  }
  .desc{
    font-size: var(--text-size-xxs);
    font-weight: 600;
    color: var(--custom-white);
    margin-bottom: 56rem;
    line-height: 1.5;
  }
  .container-creators{
    display: flex;
    gap: 140rem;
    margin-bottom: 190rem;
    @media screen and (max-width:767.7px){
      gap: 20rem;
      flex-direction: column;
      margin-bottom: 50rem;
    }
    figure{
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        width: 112rem;
        height: 112rem;
        object-fit: cover;
        margin-bottom: 17rem;
        border-radius: 50%;
      }
      figcaption{
        display: flex;
        flex-direction: column;
        align-items: center;
        h4{
          font-size: var(--text-size-xm);
          font-weight: 700;
          color: var(--custom-white);
          line-height: 1.5;
        }
        p{
          font-size: var(--text-size-xs);
          font-weight: 400;
          color: var(--custom-gray-500);
          line-height: 1.5;
          margin-bottom: 21rem;
        }
        a{
          font-size: var(--text-size-xs);
          font-weight: 500;
          color: var(--custom-white);
          line-height: 1.5;
          transition: all .2ms;
          svg{
            margin-left: 7rem;
            width: 15rem;
            height: 15rem;
          }
          &:hover{
            color: var(--custom-blue-500);
          }
        }
      }

    }
  }
}

.usecase-container{
  padding-top: 0;
}
.usecase{
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    margin-top: 128rem;
    font-size: var(--text-size-xxl);
    font-weight: 600;
    line-height: 1.5;
    color: var(--custom-white);
    @media screen and (max-width:767.7px){
      margin-top: 48rem;
    }
  }
  .subtitle{
    color: var(--custom-white);
    font-weight: 400;
    font-size: var(--text-size-mx);
    line-height: 1.5;
    margin-bottom: 130rem;
    text-align: center;
    @media screen and (max-width:767.7px){
      margin-bottom: 30rem;
    }
  }
  .container-sources{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24rem;
    margin-bottom: 188rem;
    @media screen and (max-width:767.7px){
      grid-template-columns: 1fr;
      margin-bottom: 50rem;
    }
    .item-sources{
      width: 402rem;
      padding: 35rem 18rem 16rem 28rem;
      border-radius: var(--border-radius);
      border: 1px solid var(--custom-gray-500);
      @media screen and (max-width:767.7px){
        width: 80vw;
      }
      svg{
        width: 50rem;
        height: 50rem;
        margin-bottom: 17rem;
      }
      p{
        font-size: var(--text-size-mx);
        font-weight: 600;
        line-height: 1.5;
        color: var(--custom-white);
        margin-bottom: 11rem;
      }
      span{
        font-size: var(--text-size-s);
        font-weight: 400;
        line-height: 1.5;
        color: var(--custom-gray-400);
        margin-bottom: 11rem;
      }
    }
  }

}

@supports not (gap: 0rem) {
  .container-button{
    button{
      margin: 0 12rem;
    }
  }
  .container-creators{
    figure{
      margin: 0 70rem;
    }
  }
  .item-form{
    label{
      margin: 0 12rem;
      @media screen and (max-width:767.7px){
        margin: 12rem 0;
      }
    }
  }
  .container-sources{
    max-width: 1255rem;
    width: 100%;
    .item-sources{
      display: inline;
      width: calc(33% - 12rem);
      margin: 12rem;
    }
  }
}
